
<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <table id="board">
    {% for row in game_state %}
        <tr>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <script>
    $('#board td').click(function() {
        var x = $(this).parent().index();
        var y = $(this).index();
        $.post('/move', JSON.stringify({x: x, y: y}), function() {
            location.reload();
        });
    });
    </script>
</body>
</html>